{:kotoba.app/id "cloud.itonami.isic-4321", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreibw2fohtwosg25p3f53pulklxsmzsysidltw7r7qbarcgftei2qfy", :kotoba.app/embed-url "ipfs://bafkreibw2fohtwosg25p3f53pulklxsmzsysidltw7r7qbarcgftei2qfy", :published {:archive "https://kotobase.net/ipfs/bafkreibw2fohtwosg25p3f53pulklxsmzsysidltw7r7qbarcgftei2qfy", :size 4759, :put-status 201, :get-status 200, :at "2026-08-15T13:39:16.834Z"}}
